apiVersion: operator.higress.io/v1alpha1
kind: HigressGateway
metadata:
  labels:
    app.kubernetes.io/name: higressgateway
    app.kubernetes.io/instance: higressgateway-sample
    app.kubernetes.io/part-of: higressoperator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: higressoperator
  name: higressgateway-sample
spec:
  enableStatus: true
  local: true
  jwtPolicy: "third-party-jwt"
  image:
    repository: "higress-registry.cn-hangzhou.cr.aliyuncs.com/higress/gateway"
    tag: "1.1.0"
    imagePullPolicy: "IfNotPresent"
  rollingMaxSurge: 100%
  rollingMaxUnavailable: 25%
  meshConfig:
    trustDomain: "cluster.local"
    accessLogEncoding: "TEXT"
    accessLogFile: "/dev/stdout"
    ingressControllerMode: "OFF"
    accessLogFormat: '{"authority":"%REQ(:AUTHORITY)%","bytes_received":"%BYTES_RECEIVED%","bytes_sent":"%BYTES_SENT%","downstream_local_address":"%DOWNSTREAM_LOCAL_ADDRESS%","downstream_remote_address":"%DOWNSTREAM_REMOTE_ADDRESS%","duration":"%DURATION%","istio_policy_status":"%DYNAMIC_METADATA(istio.mixer:status)%","method":"%REQ(:METHOD)%","path":"%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%","protocol":"%PROTOCOL%","request_id":"%REQ(X-REQUEST-ID)%","requested_server_name":"%REQUESTED_SERVER_NAME%","response_code":"%RESPONSE_CODE%","response_flags":"%RESPONSE_FLAGS%","route_name":"%ROUTE_NAME%","start_time":"%START_TIME%","trace_id":"%REQ(X-B3-TRACEID)%","upstream_cluster":"%UPSTREAM_CLUSTER%","upstream_host":"%UPSTREAM_HOST%","upstream_local_address":"%UPSTREAM_LOCAL_ADDRESS%","upstream_service_time":"%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%","upstream_transport_failure_reason":"%UPSTREAM_TRANSPORT_FAILURE_REASON%","user_agent":"%REQ(USER-AGENT)%","x_forwarded_for":"%REQ(X-FORWARDED-FOR)%"}'
    dnsRefreshRate: 200s
    enableAutoMtls: false
    enablePrometheusMerge: true
    protocolDetectionTimeout: 100ms
    configSources:
    - address: "xds://127.0.0.1:15051"
    defaultConfig:
      proxyStatsMatcher:
        inclusionRegexps:
          - ".*"